
.flexDemoContainer {
  border: solid 1px #red;
  box-sizing: content-box !important;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex !important;
  &.row {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  &.column {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
   }
.flex10auto {
  flex: 1 0 auto;
}

.parent {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  //-webkit-align-items: flex-start;
  //align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.child {
  flex: 1;
  width: auto;  /* Or whatever */
  height: auto; /* Or whatever */
  margin: auto;  /* Magic! */
  //&:first-child {background-color: #3f51b5;}
  //&:last-child {background-color: #7D6A7C;}
}


.grid {
  border: solid 1px #e7e7e7;
}

.flexcontainer_row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  //-webkit-align-items: flex-start;
  //align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.grid_item {
  flex: 1;
  padding: 12px;
  border: solid 1px #e7e7e7;
}

@media all and ( min-width: 480px ) {

  .grid_row-sm {
    flex-direction: row;
  }

}

@media all and ( min-width: 720px ) {

  .grid_row-md {
    flex-direction: row;
  }

}

@media all and ( min-width: 960px ) {

  .grid_row-lg {
    flex-direction: row;
  }

}
